body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
}
a{
    text-decoration: underline;
    color: black;
    font-size: 2rem;
}

/**Buttons**/
/**login button AINULT SEE**/
.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button i {
    margin-right: 0.5rem;
}

.button:hover {
    background-color: #555;
    transform: translateY(-2px);
}
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "btn1 btn2 btn3 btn4"
        "btn5 btn6 btn7 ."
        "btn8 btn9 btn10 ."
        "btn11 btn12 btn13 .";
    gap: 0.5rem;
    margin: 0;
    width: 400px;
    height: 400px;
}

#buttons button {
    background-color: #333;
    color: #fff;
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    font-weight:bold;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

#buttons button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

#buttons .minus {
    grid-column: span 1;
}

button:nth-child(1) { grid-area: btn1; }
button:nth-child(2) { grid-area: btn2; }
button:nth-child(3) { grid-area: btn3; }
button:nth-child(4) { grid-area: btn4; }
button:nth-child(5) { grid-area: btn5; }
button:nth-child(6) { grid-area: btn6; }
button:nth-child(7) { grid-area: btn7; }
button:nth-child(8) { grid-area: btn8; }
button:nth-child(9) { grid-area: btn9; }
button:nth-child(10) { grid-area: btn10; }
button:nth-child(11) { grid-area: btn11; }
button:nth-child(12) { grid-area: btn12; }
button:nth-child(13) { grid-area: btn13; }


input{
    width:300px;
}
#tehe, #vastus{               
    font-size:4rem;
    border:none;
    color:linear-gradient(135deg, #71b7e6, #9b59b6);
    font-weight: bold;

}
.calculator #tehe {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}
#ajanaitaja, #punktid, #tasemeNumber{
    font-size:2rem;
    border:none;
    color:black;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    height:25px; 
    display: inline-block; 
    border: 4px white solid; 
    background-color:  #BED7DC;
    
}



#vastus {
    background: transparent;
    
    outline: none;
    color: white;  
    pointer-events: none;

}
.login {
    width: 300px;
    border: 1px solid #BED7DC;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.login label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.login input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.login button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #BED7DC;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.container {
    text-align: center;
    
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color:white;
}

.back-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.back-link i {
    margin-right: 0.5rem;
}

.login, .ülemine {

    padding: 2rem;
    border-radius: 10px;
    text-align: left;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
    text-align: center;
    
    padding: 20px;
    box-sizing: border-box;
}
.back-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

h1 {
    color: #BED7DC;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.result {
    margin-bottom: 2rem;
    font-size:2rem;
    border:none;
}
.result div {
    margin: 0.5rem 0;
}
.result-box {
    width: 70px;
    height: 25px;
    display: inline-block;
    border: 4px white solid;
    background-color: #BED7DC;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    font-weight: bold;
}

.calculator {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}


.calculator input {
    
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
}

#tagasi {
    text-align: left; position:fixed; left:0%; padding: 20px; color: white; text-decoration: none;
}

.back-link:hover{
    color: #B3C8CF;
    font-weight:bolder;
}

.lingid img{
    width: 300px;
}

.lingid img:hover{

    opacity: 0.5;
}


